* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    background-color: red;
    position: static;
}

.blue {
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    background-color: blue;
    position: relative;
    left: 80px;
    bottom: 180px;
}

.green {
    width: 500px;
    height: 500px;
    border: 1px solid green;
    background-color: green;
    position: absolute;
    top: 40px;
    left: 40px;
}

